@use '../base/variables' as v;
@use '../base/mixins' as m;

.book_container {
    position: relative;
}

.book {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    border: 1px solid rgb(221, 221, 221);
    border-radius: 12px;
    padding: 24px;
    -webkit-box-shadow: 0px 3px 10px -5px rgba(0,0,0,0.6);
    -moz-box-shadow: 0px 3px 10px -5px rgba(0,0,0,0.6);
    box-shadow: 0px 3px 10px -5px rgba(0,0,0,0.6);
    position: sticky;
    background-color: #FFFBF6;

    &_type {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        border: 1px solid rgba(0, 0, 0, 1) !important;
        border-radius: 8px;
        position: relative;
        min-width: 350px;
        margin-bottom: 10px;

        @include m.phone {
            min-width: 200px;
        }

        @include m.tablet {
            min-width: 250px;
        }

        .type-flex {
            display: flex;
            align-items: center;
        
            h3 {
                width: 50%;
                font-size: 20px;
                font-weight: 600;
            }

            .flex-content {

                h4 {
                    font-size: 16px;
                    font-weight: 600;
                    text-decoration: underline;
                }
    
                h5 {
                    font-size: 13px;
                    font-weight: 300;
                }
            }
        }

        .btn_select {
            width: 30%;
            text-align: center;
    
            button {
                border: none;
                background-color: rgba(0, 0, 0, .7);
                border-radius: 20px;
                width: 100%;
                padding: 10px;
                color: #FFFFFF;
                cursor: pointer;
                font-family: v.$poppins;
                font-weight: 300;
                font-size: 12px;
    
                &:active {
                    transform: scale(0.9);
                    transition: all 200ms ease;
                }
    
                &:hover {
                    background-color: rgba(0, 0, 0, 1);
                }
            }
        }
    }

    .amount_conteiner {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    &_amount {
        display: flex;
        width: 350px;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10px;

        @include m.phone {
            width: 300px;
        }

        h3 {
            font-size: 18px;
            font-weight: 600;
        }

        p {
            font-size: 10px;
            font-weight: 300;
        }

        .not_amount {
            display: flex;
            align-items: center;
            justify-content: center;

            p {
                font-size: 12px;
                color: #c62828;
            }
        }

        .amount_selector {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 40%;

            button {
                font-size: 18px;
                font-weight: 300;
                background-color: #000000;
                border-radius: 100%;
                padding: 4px 7px 0 7px;
                color: #FFFFFF;
                cursor: pointer;
                border: none;

                &:active {
                    transform: scale(1.1);
                    transition: all 200ms ease;
                }
            }

            button:disabled {
                background-color: rgba(0, 0, 0, .2) !important;
            }

            h4 {
                font-size: 18px;
                font-weight: 300;
            }
        }
    }

    &_btn {
        width: 100%;
        text-align: center;
        margin-bottom: 30px;

        button {
            border: none;
            background-color: rgba(0, 0, 0, .7);
            padding: 10px 15px;
            border-radius: 20px;
            width: 30%;
            color: #FFFFFF;
            cursor: pointer;
            font-family: v.$poppins;
            font-weight: 300;
            font-size: 12px;

            &:active {
                transform: scale(0.9);
                transition: all 200ms ease;
            }

            &:hover {
                background-color: rgba(0, 0, 0, 1);
            }
        }
    }

    &_total {
        display: flex;
        flex-direction: column;
        border: 1px solid #000000;
        margin-bottom: 20px;
        padding: 10px;
        border-radius: 12px;
        width: 400px;

        @include m.phone {
            width: 300px;
        }
        @include m.tablet {
            width: 350px;
        }

        &-container {
            justify-content: space-between;
            margin-right: 10px;
        }

        .book_date, .book_info {
            display: flex;
            align-items: start;
            flex-direction: column;
            gap: 0;
        }

        h3 {
            font-size: 15px;
            font-weight: 400;
        }

        h2 {
            font-size: 18px;
            font-weight: 600;
            margin: 5px 0 5px 0;
        }

        h2:last-child {
            margin-left: auto;
        }

        p {
            font-size: 10px;
            color: rgb(198, 40, 40);
            font-weight: 600;
            margin-bottom: 5px;
        }

        label {
            font-size: 15px;
            font-weight: 600;
            margin-bottom: 5px;
        }

        div {
            display: flex;
            gap: 15px;
            align-items: center;

            input {
                outline: none;
                padding: 5px 2px;
                font-size: 13px;
                font-family: v.$poppins;
                font-weight: 300;
                margin-bottom: 5px;
                width: 60%;
                border: 1px solid rgb(198, 40, 40);
            }

            button {
                border: none;
                background-color: rgba(0, 0, 0, .7);
                padding: 7px 15px;
                border-radius: 20px;
                color: #FFFFFF;
                cursor: pointer;
                font-family: v.$poppins;
                font-weight: 300;
                font-size: 13px;
                margin-bottom: 7px;
                outline: none;
    
                &:active {
                    transform: scale(0.9);
                    transition: all 200ms ease;
                }
    
                &:hover {
                    background-color: rgba(0, 0, 0, 1);
                }
            }
        }
    }

    &_form {
        display: flex;
        flex-direction: column;
        margin: auto;
        width: 90%;

        label {
            font-size: 18px;
            font-weight: 600;
            margin-bottom: 5px;
        }

        span {
            margin-left: 5px;
            color: rgba(198, 40, 40, .8);
        }

        input {
            outline: none;
            padding: 5px 2px;
            font-size: 13px;
            font-family: v.$poppins;
            font-weight: 300;
            margin-bottom: 10px;
        }

        textarea {
            outline: none;
            resize: none;
            padding: 5px 2px;
            font-size: 13px;
            font-family: v.$poppins;
            font-weight: 300;
            margin-bottom: 20px;
            height: 100px;
        }

        button {
            margin: 20px auto 0 auto;
            border: none;
            background-color: rgba(0, 0, 0, .7);
            padding: 10px 15px;
            border-radius: 20px;
            width: 70%;
            color: #FFFFFF;
            cursor: pointer;
            font-family: v.$poppins;
            font-weight: 300;
            font-size: 15px;

            &:active {
                transform: scale(0.9);
                transition: all 200ms ease;
            }

            &:hover {
                background-color: rgba(0, 0, 0, 1);
            }
        }
    }
}

.MuiPickersDay-root:not(.Mui-selected) {
    border: none !important;
}