@use '../base/mixins' as m;

.events {
    background-color: #FFFFFF;
    display: grid;
    grid-template-columns: 60% 40%;
    margin-top: 50px;
    margin-bottom: 70px;

    @include m.phone {
        grid-template-columns: repeat(1, 1fr);
        margin-top: 40px;
    }
    @include m.tablet {
        grid-template-columns: repeat(1, 1fr);
        margin-top: 40px;
    }
    @include m.desktopS {
        grid-template-columns: repeat(1, 1fr);
        margin-top: 40px;
    }

    h1 {
        font-size: 70px;
        width: 80%;
        padding-left: 120px;
        margin-top: -10px;

        @include m.phone {
            padding: 0 10px;
            font-size: 45px;
            width: 100%;
            margin-bottom: 30px;
        }
        @include m.tablet {
            padding: 0 10px;
            font-size: 60px;
            width: 100%;
            margin-bottom: 30px;
        }
        @include m.desktopS {
            padding: 0 10px;
            font-size: 60px;
            width: 100%;
            margin-bottom: 30px;
        }
    }

    .events_content {
        margin-right: 20px;

        @include m.phone {
            margin-right: 0px;
            padding: 0 10px;
        }
        @include m.tablet {
            margin-right: 0px;
            padding: 0 10px;
        }
        @include m.desktopS {
            margin-right: 0px;
            padding: 0 10px;
        }

        h3 {
            font-size: 32px;
            margin-bottom: 5px;
            width: 80%;

            @include m.phone {
                font-size: 25px;
            }
            @include m.tablet {
                font-size: 30px;
            }
            @include m.desktopS {
                font-size: 30px;
            }

            span {
                color: #868686;
            }
        }

        p {
            width: 80%;
            font-size: 20px;
            color: #868686;
            font-weight: 300;

            @include m.phone {
                font-size: 17px;
                width: 100%;
            }
            @include m.tablet {
                width: 100%;

            }
            @include m.desktopS {
                width: 100%;

            }
        }

        p:last-child {
            margin-bottom: 40px;
            font-weight: 600
        }
    }
}