@use '../base/mixins' as m;

.app {
    position: relative;

    .whatsapp {
        position: fixed;
        bottom: 20px;
        right: 20px;
        cursor: pointer;
        z-index: 399;
        background-color: white;
        padding: 10px 12px 5px 12px;
        border-radius: 100%;

        @include m.phone {
            padding: 7px 9px 2px 9px;
        }
        @include m.tablet {
            padding: 8px 10px 3px 10px;
        }
        @include m.desktopS {
            padding: 8px 10px 3px 10px;
        }

        svg {
            color: green;
            font-size: 40px;

            @include m.phone {
                font-size: 20px;
            }
            @include m.tablet {
                font-size: 30px;
            }
            @include m.desktopS {
                font-size: 30px;
            }
        }
    }
}